COLLECTOR_ENV=dev
COLLECTOR_REDIS_HOST=127.0.0.1
COLLECTOR_REDIS_PORT=6379
COLLECTOR_REDIS_DATABASE=5
COLLECTOR_REDIS_PASSWORD=请填写本地Redis密码
COLLECTOR_TASK_QUEUE=training-plan:sync:jobs
COLLECTOR_SERVER_BASE_URL=http://127.0.0.1:8080
COLLECTOR_SERVER_TOKEN=请填写内部服务令牌

